<h2 mat-dialog-title>Add New Contact</h2>
<mat-dialog-content class="mat-typography">
    <h3>Adding new contact member to side-nav</h3>

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="user.name" [formControl]="name" required />
            <mat-error *ngIf="name.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>
        <mat-form-field>
            <mat-label>
                Avatar
            </mat-label>

            <mat-select [(ngModel)]="user.avatar">
                <mat-select-trigger>
                    <mat-icon svgIcon="{{ user.avatar }}"></mat-icon> {{ user.avatar }}
                </mat-select-trigger>

                <mat-option *ngFor="let avatar of avatars" [value]="avatar">
                    <mat-icon svgIcon="{{ avatar }}"></mat-icon> {{ avatar }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br />

        <mat-form-field appearance="fill">
            <mat-label>Bio</mat-label>
            <textarea matInput [(ngModel)]="user.bio"></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="accent">
        <mat-icon>close</mat-icon>
        Close
    </button>

    <button mat-button mat-dialog-save color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
        Save
    </button>
</mat-dialog-actions>